language: android
jdk: oraclejdk8
android:
  components:
  - tools
  - platform-tools
  - build-tools-26.0.2
  - android-26
  - extra-google-m2repository
  - extra-android-m2repository
script:
- "./Android/gradlew testDebugUnitTest"
- "./Android/build-apk.sh"
notifications:
  slack: lp-iem:kDPhwslAWdRY6xk89yHqyL9i
branches:
  only:
  - master
  - develop
deploy:
  provider: releases
  api_key:
    secure: RMsaOZrcrx9dpwgt9P1oqHC0L9yGhHElH6E1hZbFyyOUz064FUL8/r6JISm+BADMlWeo0pGFC5IPg7HajMInqAJWNsYNtV1irHk79M6IllNeDaLMxoPErROzu+NLEwzu9hzdkZXn521YCoM/3J2elqh19QF1TygRRfgOEKCGD+jngC49sw30kVEVbV23vmEXWCnwlJxDfGXLuTCd/+D4yAM2K0OsgbBtSk7n6v+X1cSkebNv8QuOTySEYs4Ymzs4TaXJSec5TM1hNgG5OByOfGy6aSmAOdjXWLXeo7bpAvt4TmjjJaLxTxloO09ujH/tmEBr6156KSwoQ4uvtDOXcnNrhsvlLt5vkXka+Jlrp32g+xqLjczTyZb/NNxiM6k520kv3uh/WseXNLOvDSOyhjP7LG2CZZRnyJWDjYWRLzUARVf8xcPTlTS9WmWJt6eV2pG0MiBnrtFFWcW/LmRxCmLC3SB+2cVM9ty1sSaB54MpcX4Y4XBPyMPaD3/4M7UEDIuOFGxPQ9FKtGRhAjxWxzWE299nujQu0NQ/Vq5lX1nacC/B8YAJKAKQcsknOUqIz9CbiVctzL9Lnar/KWpeiSbgeNGGYMppkX5oIF+p/S+KADUjsRtQC4Xu/ZPzz14PFhEqHZoA5XFqj61HmjavS7iEhABt+vH0cf7UkCCJ3EE=
  file: "./build/apk/Comics.apk"
  file_glob: true
  skip_cleanup: true
  on:
    repo: RayanMehdi/ProjetCoderProprement
   
